/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.env.staging
.env.production
.env.dev
.env.acc
/draft.yaml
/.blueprint
test-results
vapor.bck
vapor.yml
/switch-*.sh
.env.ddev
.vapor/
.env.docker-env
auth.json
