name: Laravel
on: push
jobs:
  laravel-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
        with:
          php-version: '8.1'
          tools: composer:v2
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Add HTTP basic auth credentials
        run: echo '${{ secrets.COMPOSER_AUTH_JSON }}' > $GITHUB_WORKSPACE/auth.json
      - name: Install Dependencies
        run: |
          php --version
          composer install -n --prefer-dist
      - name: Prepare Laravel Application
        run: cp .env.ci .env
      - name: Generate key
        run: php artisan key:generate
      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache
      - name: Create Database
        run: |
          mkdir -p database
          touch database/database.sqlite
      - name: Execute tests (Unit and Feature tests) via PHPUnit
        env:
          DB_CONNECTION: sqlite
          DB_DATABASE: database/database.sqlite
        run: php artisan test --parallel
#      - name: Require Vapor CLI
#        run: composer global require laravel/vapor-cli
#      - name: Deploy Environment
#        run: vapor deploy dev
#        env:
#          VAPOR_API_TOKEN: ${{ secrets.VAPOR_API_TOKEN }}
